.container {
  background-color: #f4f9f9;
}

.navbar {
  background-color: #51892f;
  margin: 0 -12px;
}

.navbar-brand {
  margin-left: 5%;
}

.navbar-dark .navbar-brand.nav-color {
  color: #f4f9f9;
}

.navbar-dark .navbar-nav .nav-link.nav-color {
  color: #f4f9f9;
}

.navbar-left {
  margin-left: 50%;
}

.carousel-img-spice {
  margin: 0 auto 30px;
  width: 400px;
}

.bg-transparent {
  border: none;
}

.h3 {
  margin: 0 0 0 12.5%;
}

.txt-img1 {
  padding-bottom: 40px;
}

.txt-img, .txt-img1 {
  display: flex;
  justify-content: space-around;
  margin: 2% 0 5% 0;
}

.txt-img {
  margin-bottom: 0;
}

.fruit {
  margin-top: 50px;
}

.paragraph, .paragraph1 {
  border: 1px solid black;
  border-radius: 10%;
  width: 40%;
  text-align: justify;
  line-height: 3;
  padding: .4rem;
}
.paragraph1 {
  margin-top: 12%;
}

.d-flex {
  justify-content: space-evenly;
  background-color: #51892f;
  color: #f4f9f9;
  padding-top: 15px;
  margin: 0 -12px;
}

.social-icon {
  color: #f4f9f9;
}

@media (max-width:1028px) {
  .txt-img, .txt-img1 {
    display: block;
  }
  .paragraph, .paragraph1 {
    width: 100%;
  }
  .fruit {
    display: block;
  margin: auto;
  }
  .d-flex {
    justify-content: space-evenly;
    background-color: #51892f;
    color: #f4f9f9;
    padding-top: 15px;
    margin: 0 -12px;
  }
}
